*{
    margin:0;
    padding:0;
}

body{

    font-family: "Gabarito", sans-serif;
}

.container{
    display:flex;
    z-index: 1;
    padding:10px;
    background-color: white;
    justify-content: space-between;
    border-bottom:solid black 1px;
    gap:10px;
    position: sticky;
    top:0;
    align-items: center;
}

.one__title{
 color:#A435F0;
}

.two{
    border: solid 1px black;
    padding:10px;
    border-radius: 30px;
    width:65%;
    display: flex;
    gap:10px;
    align-items: center;
}

.two input{
    font-size:15px;
    border:none;
    background-color: transparent;
    width:100%;
}

.two input:focus{
   outline:none;
    width:100%;
}

.three{
    display: flex;
    gap:10px;
    /* height:30px; */
    align-items: center;
}

.mylearning{
    position:relative;
    cursor: pointer;
}


.mylearning__popup{
    position: absolute;
    top:150%;   
    border: 2px solid black;
    padding:10%;
    right:0;
    width: 100%;
    background-color: white;
    display: none;
}

.mylearning:hover .mylearning__popup{
    display: block;
}

/* Section category */
.section-category{

    display:flex;
    justify-content: space-around;
    padding:15px;
    border-bottom: solid black 1px;
}
.section-category p{

    background-color: #A435F0;
    padding:10px;
    border-radius: 30px;
}
.page-pic{
    position:relative
}
.page-pic img{
    width:100%;
    
}

.sale{
    background-color: white;
    position:absolute;
    width:fit-content;
    border:solid black 2px;
    left :50px;
    top:200px;
    padding:30px;
}
/* Section category */

.recommended{
    padding:10px;
 
}
.recommended_title{
    margin-bottom:10px;
}

.course-content{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
   
    margin-top:10px;    
}

.course-content__all{
    width:200px;
   
}

.course-content__all img{
    width:100%;
    height:50%;

}
.topics{
    padding:20px;
}


.topics_section{

    margin-top:10px;
   
    display:flex;
    gap:10px;
    flex-wrap:wrap;
    
}

.topics_section p{

    border:solid gray 2px;
    padding:10px;
    flex-grow:1;
    flex-basis:25%;
}

.popular{

    padding:20px;
    margin:10px;
}

.popular p{
    margin-top:10px;
}

.popular_content{
    margin-top:10px;
    padding:5px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* flex-basis:35%; */
    width:100%;
}
.popular_card{
    width:300px;
}

.popular_card img{
 width:100%;
 height:50%;
}

.footer{
    padding:10px;
    margin:20px;
    background-color: black;
    color: white;
    
}

.footer_one{
    display:flex;
}

.footer_one p{
    margin:20px;
}

.footer_two{

    display:flex;
    justify-content: space-between;
    margin:20px;
    align-items: center;
}